**START**

**Module : Python Operators**

*Sekarang aku akan mempelajari operator-operator yang tersedia di dalam Python. Di dalam Python, operator terbagi ke dalam 6 kelompok:*
1. *Arithmetic operators*
2. *Assignment operators*
3. *Comparison operators*
4. *Logical operators*
5. *Identity operators*
6. *Membership operators*

**Arithmetic Operators**

***Operator arithmetic** digunakan pada tipe data numerik, untuk melakukan operasi matematika sederhana yang terdiri atas:*

In [7]:
import pandas as pd

data = [{'simbol' : '+', 'keterangan' : 'Penambahan', 'contoh' : '3 + 2 akan menghasilkan output: 5'},
{'simbol' : '-', 'keterangan' : 'Pengurangan', 'contoh' : '4 - 2 akan menghasilkan output: 2'},
{'simbol' : '*', 'keterangan' : 'Perkalian', 'contoh' : '3 * 2 akan menghasilkan output: 6'},
{'simbol' : '/', 'keterangan' : 'Pembagian', 'contoh' : '3 / 2 akan menghasilkan output: 1.5'},
{'simbol' : '%', 'keterangan' : 'Modulo/sisa bagi', 'contoh' : '3 % 2 akan menghasilkan output: 1, dikarenakan 3 tidak habis dibagi 2 dan menyisakan 1, 8 % 2 akan menghasilkan output: 0, dikarenakan 8 habis dibagi 2'},
{'simbol' : '**', 'keterangan' : 'Pangkat', 'contoh' : '3 ** 2 akan menghasilkan output: 9'},
{'simbol' : '//', 'keterangan' : 'Pembagaian dengan pembulatan ke bawah', 'contoh' : '3 / 2 akan menghasilkan output: 1.5'} ]

df = pd.DataFrame(data)

df.head(10)

,simbol,keterangan,contoh
0,+,Penambahan,3 + 2 akan menghasilkan output: 5
1,-,Pengurangan,4 - 2 akan menghasilkan output: 2
2,*,Perkalian,3 * 2 akan menghasilkan output: 6
3,/,Pembagian,3 / 2 akan menghasilkan output: 1.5
4,%,Modulo/sisa bagi,"3 % 2 akan menghasilkan output: 1, dikarenakan..."
5,**,Pangkat,3 ** 2 akan menghasilkan output: 9
6,//,Pembagaian dengan pembulatan ke bawah,3 / 2 akan menghasilkan output: 1.5

**Assignment Operators**

*Operator assignment digunakan untuk mendeklarasikan nilai secara langsung ke suatu variabel.*

In [11]:
import pandas as pd

data2 = [{'simbol' : '+=', 'keterangan' : 'penambahan', 'contoh' : 'x = 3, x += 2 ekivalen dengan x = x + 2, akan mengubah nilai x menjadi 5'},
{'simbol' : '-=', 'keterangan' : 'pengurangan', 'contoh' : 'x = 3, x -= 2 ekivalen dengan x = x - 2, akan mengubah nilai x menjadi 1'},
{'simbol' : '*=', 'keterangan' : 'perkalian', 'contoh' : 'x = 3, x *= 2 ekivalen dengan x = x * 2, akan mengubah nilai x menjadi 6'},
{'simbol' : '/=', 'keterangan' : 'pembagian', 'contoh' : 'x = 3, x /= 2 ekivalen dengan x = x / 2, akan mengubah nilai x menjadi 1.5'},
{'simbol' : '%=', 'keterangan' : 'modulo/sisa bagi', 'contoh' : 'x = 3, x %= 2 ekivalen dengan x = x % 2, akan mengubah nilai x menjadi 1'},
{'simbol' : '**=', 'keterangan' : 'pangkat', 'contoh' : 'x = 3, x **= 2 ekivalen dengan x = x ** 2, akan mengubah nilai x menjadi 9'},
{'simbol' : '%=', 'keterangan' : 'modulo/sisa bagi', 'contoh' : 'x = 3, x //= 2 sama dengan x = x // 2, akan mengubah nilai x menjadi 1'}
]

df = pd.DataFrame(data2)

df.head(10)

  simbol        keterangan                                             contoh
0     +=        penambahan  x = 3, x += 2 ekivalen dengan x = x + 2, akan ...
1     -=       pengurangan  x = 3, x -= 2 ekivalen dengan x = x - 2, akan ...
2     *=         perkalian  x = 3, x *= 2 ekivalen dengan x = x * 2, akan ...
3     /=         pembagian  x = 3, x /= 2 ekivalen dengan x = x / 2, akan ...
4     %=  modulo/sisa bagi  x = 3, x %= 2 ekivalen dengan x = x % 2, akan ...
5    **=           pangkat  x = 3, x **= 2 ekivalen dengan x = x ** 2, aka...
6     %=  modulo/sisa bagi  x = 3, x //= 2 sama dengan x = x // 2, akan me...

**Comparison Operators**

***Operator comparison** dapat digunakan untuk membandingkan dua buah nilai, berikut merupakan contoh-contoh operator komparasi.*

In [13]:
import pandas as pd

data2 = [{'simbol' : '==', 'keterangan' : 'persamaan', 'contoh' : '33 == 33 akan menghasilkan output: True dikarenakan benar 33 sama dengan 33, 34 == 33 akan menghasilkan output: False dikarenakan 34 tidak sama dengan 33'},
{'simbol' : '!=', 'keterangan' : 'Pertidaksamaan', 'contoh' : '34 != 33 akan menghasilkan output: True dikarenakan benar bahwa 34 tidak sama dengan 33, 33 != 33 akan menghasilkan output: False dikarenakan 33 sama dengan 33'},
{'simbol' : '>', 'keterangan' : 'Lebih besar dari', 'contoh' : '34 > 33 akan menghasilkan output: True dikarenakan 34 lebih besar dari 33, 33 > 34 akan menghasilkan output False dikarenakan tidak benar 33 lebih besar dari 34'},
{'simbol' : '<', 'keterangan' : 'Lebih kecil dari', 'contoh' : '33 < 34 akan menghasilkan output True dikarenakan benar 33 lebih kecil dari 34, 34 < 33 akan menghasilkan output: False dikarenakan tidak benar 34 lebih kecil dari 33'},
{'simbol' : '>=', 'keterangan' : 'Lebih besar atau sama dengan', 'contoh' : '34 >= 33 akan menghasilkan output True dikarenakan 34 lebih besar dari 33, 34 >= 34 akan menghasilkan output True dikarenakan 34 sama dengan 34, 33 >= 34 akan menghasilkan output False dikarenakan 33 tidak lebih besar dari 34 dan tidak sama dengan 34'},
{'simbol' : '<=', 'keterangan' : 'Lebih kecil atau sama dengan', 'contoh' : '33 <= 34 akan menghasilkan output True dikarenakan 33 lebih kecil dari 34, 33 <= 33 akan menghasilkan output True dikarenakan 34 sama dengan 33, 34 <= 33 akan menghasilkan output False dikarenakan 34 tidak lebih kecil dari 33 dan tidak sama dengan 34'}
]

df = pd.DataFrame(data2)

df.head(10)

,simbol,keterangan,contoh
0,==,persamaan,33 == 33 akan menghasilkan output: True dikare...
1,!=,Pertidaksamaan,34 != 33 akan menghasilkan output: True dikare...
2,>,Lebih besar dari,34 > 33 akan menghasilkan output: True dikaren...
3,<,Lebih kecil dari,33 < 34 akan menghasilkan output True dikarena...
4,>=,Lebih besar atau sama dengan,34 >= 33 akan menghasilkan output True dikaren...
5,<=,Lebih kecil atau sama dengan,33 <= 34 akan menghasilkan output True dikaren...

**Logical Operators**

***Operator logical** digunakan untuk menggabungkan beberapa nilai kebenaran atas suatu statemen logika.*

In [2]:
import pandas as pd

data2 = [{'simbol' : 'and', 'keterangan' : 'dan - menerima dua nilai kebenaran dan mengembalikan nilai benar jika keduanya benar', 'contoh' : 'x = 5, x >= 1 and x <= 10, akan mengembalikan nilai True, x = 5, x >= 1 and x <= 4, akan mengembalikan nilai False'},
{'simbol' : 'or', 'keterangan' : 'atau - menerima dua nilai kebenaran dan mengembalikan nilai benar jika salah satu benar', 'contoh' : 'x = 3 , x >= 1 or x <= 2, akan mengembalikan nilai True dikarenakan statemen logika pertama terpenuhi'},
{'simbol' : 'not', 'keterangan' : 'negasi - menerima sebuah nilai kebenaran dan mengembalikan komplemennya', 'contoh' : 'x = 7, not(x == 7) akan mengembalikan nilai False, not(x >= 10) akan mengembalikan nilai True'}
]

df = pd.DataFrame(data2)

df.head(10)

,simbol,keterangan,contoh
0,and,dan - menerima dua nilai kebenaran dan mengemb...,"x = 5, x >= 1 and x <= 10, akan mengembalikan ..."
1,or,atau - menerima dua nilai kebenaran dan mengem...,"x = 3 , x >= 1 or x <= 2, akan mengembalikan n..."
2,not,negasi - menerima sebuah nilai kebenaran dan m...,"x = 7, not(x == 7) akan mengembalikan nilai Fa..."

**Identity Operators**

***Operator identitas** dapat digunakan untuk membandingkan identitas dari dua buah variabel.*

In [3]:
import pandas as pd

data2 = [{'simbol' : 'is', 'keterangan' : 'Menerima dua buah objek dan mengembalikan nilai True ketika keduanya merujuk pada objek yang sama dan False dalam kondisi lainnya'},
{'simbol' : 'is not', 'keterangan' : 'Menerima dua buah objek dan mengembalikan nilai True ketika keduanya merujuk pada objek yang berbeda dan False jika sama'},
]

df = pd.DataFrame(data2)

df.head(10)

   simbol                                         keterangan
0      is  Menerima dua buah objek dan mengembalikan nila...
1  is not  Menerima dua buah objek dan mengembalikan nila...

In [8]:
x = ["Ani", "Budi"]

y = ["Ani", "Budi"]

a = x

print(a is x) 
# akan menampilkan nilai True dikarenakan a dan x merujuk ke objek yang sama

print(a is y) 
# akan menampilkan nilai False dikarenakan a dan y tidak merujuk ke objek yang sama meskipun isi di dalam keduanya sama.

True
False

*Pada umumnya, **operator identitas sering digunakan bersamaan dengan fungsi type()**, yang mana fungsi type() akan menerima sebuah objek dan mengembalikan tipe data dari objek tersebut. Di bawah ini adalah contoh penggunaan operator identitas dan fungsi type().*

In [9]:
# mula mula x adalah sebuah integer
x = 10
print(type(x) is int)

x /= 3
print(type(x) is int)
print(type(x) is float)

True
False
True

**Membership Operators**

***Operator keanggotaan (membership)** dapat digunakan untuk memeriksa anggota dari sebuah tipe data sequence/set. Operator keanggotaan meliputi:*

In [10]:
import pandas as pd

data2 = [{'simbol' : 'in', 'keterangan' : 
'Menerima sebuah sequence/set dan objek, mengembalikan True ketika objek merupakan anggota dari sequence/set, dan False ketika bukan.'},
{'simbol' : 'not in', 'keterangan' : 
'Menerima sebuah sequence/set dan objek, mengembalikan True ketika objek bukan merupakan anggota dari sequence/set, dan False ketika merupakan.'''},
]

df = pd.DataFrame(data2)

df.head(10)

   simbol                                         keterangan
0      in  Menerima sebuah sequence/set dan objek, mengem...
1  not in  Menerima sebuah sequence/set dan objek, mengem...

In [11]:
x = ["Ani", "Budi", "Cici"]
y = "Cici"
z = "Dodi"

print(y in x) #akan menampilkan nilai  True
print(z in x) #akan menampilkan nilai  False

print(y not in x) #akan menampilkan nilai  False
print(z not in x) #akan menampilkan nilai  True

True
False
False
True

**Nilai Prioritas Operator dalam Python – Part 1**

*Setelah mempelajari berbagai operator dalam bahasa pemrograman Python, tentunya aku juga ingin bisa menuliskan operasi-operasi variabel yang bersifat ekspresif dan ringkas.*

*Sebagai contoh, untuk menuliskan sebuah program menghitung diskon dan pajak pembelian berdasarkan ilmu yang telah aku pelajari **menggunakan cara lebih mudah dengan menjelaskan presedensi (urutan eksekusi) dari operator.***

**Tugas:**

*Aku diminta Senja untuk menghitung harga yang harus dibayarkan menggunakan barang senilai 150,000, dengan diskon 30% dan pajak 10%, menggunakan cara yang aku gunakan awal dan cara lebih singkat yang diajarkan Senja.*

In [12]:
# Kode Awal
total_harga = 150000
potongan_harga = 0.3
pajak = 0.1 # pajak dalam persen ~ 10%
harga_bayar = 1 - potongan_harga # baris pertama
harga_bayar *= total_harga # baris kedua
pajak_bayar = pajak * harga_bayar # baris ketiga
harga_bayar += pajak_bayar # baris ke-4
print("Kode awal - harga_bayar=", harga_bayar)

# Penyederhanaan baris kode dengan menerapkan prioritas operator
total_harga = 150000
potongan_harga = 0.3
pajak = 0.1 # pajak dalam persen ~ 10%

harga_bayar = (1 - potongan_harga) * total_harga
harga_bayar += pajak * harga_bayar

print('penyederhanaan kode - harga bayar', harga_bayar)

Kode awal - harga_bayar= 115500.0
penyederhanaan kode - harga bayar 115500.0

**Nilai Prioritas Operator dalam Python – Part 2**

*Dalam bahasa pemrograman Python, tabel berikut mencakup nilai prioritas dan arah pengerjaan dari setiap operator.*

In [13]:
import pandas as pd

data2 = [{'operator' : '()', 'nilai Prioritas' : '10', 'deskripsi' : 'grouping'},
{'operator' : 'x[index]', 'nilai Prioritas' : '9', 'deskripsi' : 'mengakses elemen array'},
{'operator' : '**', 'nilai Prioritas' : '8', 'deskripsi' : 'pangkat'},
{'operator' : '+x, -x', 'nilai Prioritas' : '7', 'deskripsi' : 'tanda bilangan positif dan negatif'},
{'operator' : '*, /, %', 'nilai Prioritas' : '6', 'deskripsi' : 'Perkalian Pembagian Modulus'},
{'operator' : '+, -', 'nilai Prioritas' : '5', 'deskripsi' : 'penambahan, pengurangan'},
{'operator' : 
'''is, is not, in, not in 
<=, <, >=, >)
==, !=''', 
'nilai Prioritas' : '4', 'deskripsi' : 'Membership operator, Comparison operator'},
{'operator' : 'not', 'nilai Prioritas' : '3', 'deskripsi' : 'Operator logika negasi (not)'},
{'operator' : 'and', 'nilai Prioritas' : '2', 'deskripsi' : 'Operator logika konjungsi (and)'},
{'operator' : 'or', 'nilai Prioritas' : '1', 'deskripsi' : 'Operator logika disjungsi (or)'}
]

df = pd.DataFrame(data2)

df.head(10)

,operator,nilai Prioritas,deskripsi
0,(),10,grouping
1,x[index],9,mengakses elemen array
2,**,8,pangkat
3,"+x, -x",7,tanda bilangan positif dan negatif
4,"*, /, %",6,Perkalian Pembagian Modulus
5,"+, -",5,"penambahan, pengurangan"
6,"is, is not, in, not in \n<=, <, >=, >)\n==, !=",4,"Membership operator, Comparison operator"
7,not,3,Operator logika negasi (not)
8,and,2,Operator logika konjungsi (and)
9,or,1,Operator logika disjungsi (or)

*Dari tabel di atas, dapat terlihat bahwa tanda () memiliki nilai prioritas yang paling tinggi. Hal itu menandakan jika di dalam suatu statemen yang melibatkan beberapa operator secara sekaligus, setiap operasi yang berada di dalam tanda () akan dikerjakan terlebih dahulu.*

*Kemudian, jika terdapat beberapa operasi dalam tanda (), tanda kurung yang berada di sebelah paling kiri akan dikerjakan terlebih dahulu dikarenakan arah pengerjaan dari tanda () adalah dari kiri ke kanan.*

**Tugas Praktek**

*Kenapa tidak terpikirkan olehku, ya? Harusnya aku tidak perlu mendeklarasikan variabel total_pajak dan aku bisa langsung menampung hasil perhitungan akhir saat mendeklarasikan variabel total_harga. Jadi, kodeku akan berjalan jika aku menambahkan setiap harga barang yang telah dipotong diskon sebelum menghitung pajak.*

In [15]:
sepatu = { "nama" : "Sepatu Niko", "harga": 150000, "diskon": 30000 }
baju = { "nama" : "Baju Unikloh", "harga": 80000, "diskon": 8000 }
celana = { "nama" : "Celana Lepis", "harga": 200000, "diskon": 60000 }

harga_sepatu = sepatu["harga"] - sepatu["diskon"]
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]

total_harga = (harga_sepatu+harga_baju+harga_celana) * 1.1 
print(total_harga)

365200.00000000006

**End of Module : Python Operators**