**START**

**Module : Python Vaiables & Data Types**

***Tips** : Dalam mendeklarasikan sebuah variabel, berilah nama yang mewakili isi dari variabel tersebut.*

**Aturan Penamaan Python Variables**

1. *Nama dari sebuah variabel harus dimulai dengan huruf (a-z, A-Z) atau karakter garis bawah underscore (_) dan tidak dapat dimulai dengan angka (0-9).*
2. *Variabel hanya boleh mengandung karakter alfabet, bilangan dan underscore (a-z, A-Z, 0-9, _)*
3. *Variabel bersifat case-sensitive yang mengartikan bahwa variabel TINGGI, tinggi, dan Tinggi merujuk pada tiga variabel berbeda.*

*Selain dapat mendeklarasikan nilai dari suatu variabel secara baris per baris, aku juga dapat mendeklarasikan beberapa variabel dalam satu baris dengan menggunakan ekspresi seperti:*

In [ ]:
# mendeklarasikan beberapa variabel dalam 1 baris
bil1, bil2 = 3, 4
salam, peutup = "Selamat Pagi", "Salam Sejahtera"

print(bil2)
print(salam)

4
Selamat Pagi

**Tipe Data Dasar: Null, Boolean, Numeric dan Text**

1. ***Null Type**: Tipe data null dalam Python digunakan untuk menyimpan nilai kosong atau tidak ada yang dinyatakan dengan None.*

2. ***Boolean Type**: Tipe data boolean atau bool digunakan untuk menyimpan nilai kebenaran (True, False) dari suatu ekspresi logika.*

3. ***Numeric Type**: Tipe data yang digunakan untuk menyimpan data berupa angka. Terdapat dua macam tipe data numeric, yaitu int untuk menyimpan bilangan bulat (e.g.: 0, 1, 2, 404, -500, -1000) dan float untuk menyimpan bilangan riil (e.g.: 0.5, 1.01, 2.05, 4.04)*

4. ***Text Type**: Pada Python, tipe data string (str) digunakan untuk menyimpan data teks. Tipe data string dimulai dengan tanda kutip (baik kutip satu/ dua) dan diakhir dengan tanda kutip. Contoh: "Teks", "Contoh teks menggunakan Python", dan 'Teks pada Python'.*

**Sequence Type - Part 1**

*Tipe data ini digunakan untuk menampung sekumpulan data secara terorganisir. Bentuk dari tipe data sequence ini adalah **List dan Tuple**.*

*Tipe data **list***
1. *Tipe data list diawali dengan tanda kurung siku buka ( [ ), memisahkan setiap elemen di dalamnya dengan tanda koma ( , ) dan ditutup dengan kurung siku tutup ( ] ).*
2. *Setiap elemen dari list memiliki **indeks yang dimulai dari angka 0** dan terus bertambah satu nilainya hingga elemen terakhir dari list.*
3. *Tipe data list bersifat **mutable** yang berarti setiap elemen di dalam list dapat dirubah nilainya setelah proses pendeklarasian list.*

In [ ]:
contoh_list = [1, 'dua', 3, 4.0, 5]
print(contoh_list[0])
print(contoh_list[3])

#Sifat Mutable
contoh_list = [1, 'dua', 3, 4.0, 5]
contoh_list[3] = 'empat'
print(contoh_list[3])

1
4.0
empat

**Sequence type - part 2**

*Tipe data **Tuple***
1. *Tipe data ini diawali dengan tanda kurung buka ( ( ), memisahkan setiap elemen di dalamnya dengan tanda koma ( , ) dan ditutup dengan tanda kurung tutup ( ) ).*
2. *Aturan **indeks** dan cara mengakses elemen pada sebuah tuple serupa dengan list.*
3.  *Tipe data tuple bersifat **immutable** yang berarti elemen pada tipe data tuple tidak dapat diubah setelah proses pendeklarasiannya.*

In [ ]:
contoh_tuple = ('Januari', 'Februari', 'Maret', 'April')
print(contoh_tuple[0])

#Sifat Immutable
contoh_tuple[0] = 'Desember'
print(contoh_tuple[0])

Januari

TypeError: 'tuple' object does not support item assignment

**Set Type**

*Serupa dengan tipe data sequence, tipe data set digunakan untuk menampung sekumpulan data dengan tipe lainnya. Terdapat dua jenis dari tipe data set yaitu, **set dan frozenset**.*

*Tipe data **Set***
1. *Diawali dengan tanda kurung buka kurawal ( { ), memisahkan setiap elemen di dalamnya dengan tanda koma ( , ) dan ditutup dengan tanda kurung tutup ( } ).*
2. *Berbeda dengan tipe data sequence, seperti list, tipe data objek **tidak mengizinkan adanya elemen dengan nilai yang sama dan tidak memperdulikan urutan dari elemen**.*

*Tipe data **frozenset***

*Tipe data frozenset sebenarnya hanya merupakan **set yang bersifat immutable**, yang artinya setiap elemen di dalam frozenset tidak dapat diubah setelah proses deklarasinya.*

In [1]:
contoh_list = ['Dewi', 'Cici', 'Linda', 'Cici']
print(contoh_list)
contoh_set = {'Dewi', 'Budi', 'Cici', 'Linda', 'Cici'}
print(contoh_set)
contoh_frozen_set = ({'Dewi', 'Budi', 'Cici', 'Linda', 'Cici'})
print(contoh_frozen_set)

['Dewi', 'Cici', 'Linda', 'Cici']
{'Budi', 'Cici', 'Linda', 'Dewi'}
{'Budi', 'Cici', 'Linda', 'Dewi'}

***Kesimpulan : Perbedaan Data List & Set***

1. *Berbeda dengan tipe data set, **tipe data list memperdulikan urutan dari setiap elemen saat list dideklarasikan**.*
2. *Berbeda dengan list yang mengizinkan adanya duplikasi elemen, **tipe data set tidak mengizinkan adanya elemen dengan nilai yang sama di dalamnya**.*

**Mapping Type**

*Tipe data **mapping** dapat digunakan untuk memetakan sebuah nilai ke nilai lainnya. Dalam Python, tipe data mapping disebut dengan istilah **dictionary**.*
1. *Diawali oleh tanda kurung buka kurawal ( { ), memisahkan setiap elemen di dalamnya dengan tanda koma ( , ) dan ditutup dengan tanda kurung tutup ( } ).*
2. *Setiap elemen pada tipe data dictionary dideklarasikan dengan format: **"kunci" : "nilai"***
3. *Untuk **mengakses elemen** dari sebuah dictionary, aku hanya perlu menspesifikasikan **kata kunci** yang terdapat dalam dictionary tersebut.*

In [3]:
person = {'nama' : 'Jhon Doe', 'pekerjaan' : 'Programmer'}
print(person['nama'])
print(person['pekerjaan'])

Jhon Doe
Programmer

**Tugas Praktek**

*mengembangkan program kalkulator potongan harga untuk beberapa barang sekaligus*
1. *Memrepresentasikan semuanya ke tipe data dictionary, dengan begitu akan lebih mudah mengolahnya*
2. *Mendeklarasikan variabel sepatu, baju, dan celana untuk menampung informasi barang*
3. *Mendeklarasikan list dengan nama **daftar_belanja** yang berisi data **sepatu, baju, dan celana**.*
4. *menghitung total harga jual dengan potongan harga beserta pajak sebesar 10% dari nilai jual.*

**Data**

Sepatu Niko : Harga 150000, Diskon 30000

Baju Uniklah : Harga 80000, Diskon 8000

Celana Lepis : Harga 200000, Diskon 60000

*Tips 1. # Data yang dinyatakan ke dalam dictionary*

*Tips 2. # Hitung harga masing-masing data setelah dikurangi diskon*

*Tips 3. # Hitung harga total*

*Tips 4. # Hitung harga kena pajak*

*Tips 5. # Cetak total_harga + total_pajak*

In [7]:
#Tips 1
sepatu = {'nama' : 'Sepatu Niko', 'harga' : 150000, 'diskon' : 30000}
baju = {'nama' : 'Baju Uniklah', 'harga' : 80000, 'diskon' : 8000}
celana = {'nama' : 'Celana Lepis', 'harga' : 200000, 'diskon' : 60000}

daftar_belanja = [sepatu, baju, celana]

#Tips 2
harga_sepatu = sepatu['harga'] - sepatu['diskon']
harga_baju = baju['harga'] - baju['diskon']
harga_celana = celana['harga'] - celana['diskon']

#Tips 3
total_harga = harga_sepatu + harga_baju + harga_celana

#Tips 4
total_pajak = total_harga * 0.1

#Tips 5
print(total_harga + total_pajak)

365200.0

**End of Module : Python Vaiables & Data Types**