**Start**

**Module : Menggunakan Filter**

*Bagian ini akan membahas teknik mengambil data dengan kondisi tertentu menggunakan filter, terutama jika data sudah tersimpan dalam jumlah besar.*

1. *Dalam module ini hanya akan menjelaskan syntax yang dipakai untuk mengakses data di Database.*

2. **Hasil tidak akan keluar karena bukan dikerjakan salah satu produk RDBMS seperti MySQL.** 

3. *Kita hanya dapat mengakses Database jika sudah memiliki Hak Akses*

**Pendahuluan**

*“Nja, sampai sini aku sudah paham bagaimana menggunakan alias dan prefix. Tapi aku masih ada pertanyaan. Terkadang kita hanya ingin menampilkan data berdasarkan kondisi tertentu, jadi kita tidak butuh semua data dari tabel. Kalau seperti itu, berarti kita hanya ingin mengambil data produk dengan nama produk tertentu. Nah, di SQL caranya gimana ya?” tanyaku. Hal ini sedari tadi membuatku penasaran.*

*“Untuk case dimana kita ingin mengambil data berdasarkan kondisi tertentu saja, kita bisa menggunakan filter. SQL memiliki fungsi filter dengan menggunakan klausul WHERE. Jika kondisi WHERE terpenuhi, maka hasil query hanya akan menampilkan data yang sudah terfilter.”*

*Aku pun segera membuka modul bagian klausul WHERE:*

*Klausul WHERE untuk:*

- *Filter data dengan kondisi teks tertentu.*
- *Filter data dengan nilai angka tertentu.*
- *Filter data dengan dua kondisi menggunakan operator AND dan OR.*

**Menggunakan WHERE**

*Contoh memperlihatkan data dimana kolom nama_produk berisi nilai Tas Travel Organizer DQLab*

In [ ]:
SELECT * FROM ms_produk WHERE nama_produk = 'Tas Travel Organizer DQLab';

**Menggunakan Operand OR**

*Pada subbab sebelumnya, aku telah menggunakan filter teks sederhana untuk mengeluarkan data masing-masing dengan nama_produk 'Gantungan Kunci DQLab' dan 'Tas Travel Organizer DQLab'.*

*Pertanyaannya, bagaimana jika ingin mengeluarkan keduanya sekaligus? Aku bisa menggunakan Operand OR.*

In [ ]:
SELECT * FROM ms_produk WHERE nama_produk = 'Gantungan Kunci DQLab' OR nama_produk = 'Tas Travel Organizer DQLab' OR nama_produk = 'Flashdisk DQLab 64 GB';

**Filter untuk Angka**

*Sebelumnya, aku telah melakukan filtering untuk teks, namun WHERE tidak terbatas untuk tipe data teks saja tapi malah umumnya untuk angka.*

- *Tampilkan informasi dengan harga diatas 50000.*

In [ ]:
SELECT * FROM ms_produk WHERE harga > 50000;

**Menggunakan Operand AND**

*Jika sebelumnya aku mempelajari Operand OR, aku juga bisa menggunakan operand AND agar dua atau lebih kondisi terpenuhi semuanya. Jika salah satu kondisi tidak terpenuhi, data tidak akan diambil.*

In [ ]:
SELECT * FROM ms_produk WHERE nama_produk = 'Gantungan Kunci DQLab' AND harga < 50000;

**Kesimpulan**

*Wah, semakin seru saja nih belajar SQL! Sebelum aku lupa, aku mencatat apa yang aku pelajari tadi. Siapa yang punya kebiasaan seperti aku? Dengan mencatat apa yang aku pelajari, aku merasa ilmu yang aku pelajari tadi lebih mudah untuk aku pahami.*

1. *Filter di SQL diimplementasikan dengan menggunakan WHERE diikuti dengan satu atau lebih kondisi logis.*

2. *Kondisi logis ini memiliki format nama kolom diikuti dengan nilai yang akan difilter. Untuk teks sederhana bisa menggunakan tanda sama dengan, sedangkan untuk nilai angka bisa menggunakan operator perbandingan matematika.*

3. *Aku juga bisa menggunakan operand OR dan AND untuk menggabungkan beberapa kondisi menjadi satu kondisi baru yang harus terpenuhi untuk pengambilan data.*

**End Of Product**