**START**

**Module : Prefix dan Alias**

1. *Dalam module ini hanya akan menjelaskan syntax yang dipakai untuk mengakses data di Database.*

2. **Hasil tidak akan keluar karena bukan dikerjakan salah satu produk RDBMS seperti MySQL.** 

3. *Kita hanya dapat mengakses Database jika sudah memiliki Hak Akses*

**Pendahuluan**

*Sejauh ini, aku sudah cukup paham cara menggunakan SQL dengan perintah SELECT, terutama untuk mengakses data dari database. Aku pun berniat untuk mengambil dan menganalisis data produk dengan syntax yang ada:*

In [ ]:
SELECT t1.kode_produk AS product_code, t1.nama_produk AS product_name, t1.harga AS price FROM ms_produk AS t1;

*Beberapa detik aku termenung melihat syntax ini. Mengapa ada ‘t1’, dan ‘AS’? Apa maksudnya? Aku terdorong untuk bertanya kembali pada Senja.*

*“Nja, sorry gangguin kamu lagi. Aku lagi mau nyoba latihan nih. Tapi aku nemu syntax ini dan agak bingung terutama karena ada ‘t1’, dan ‘AS’. Maksudnya?”*

*“Oh, ini hanya variasi penggunaan nama table dan kolom pada bagian SELECT. Sini saya kasih tahu.”*

*Aku pun mencatat penjelasan Senja, walau sederhana tapi penting:*

1. ***Prefix**, dimana kita akan menambahkan nama tabel di depan nama kolom.*
2. ***Alias**, dimana kita memberikan alias atau nama lain untuk tabel maupun kolom.*

**Menggunakan Prefix pada Nama Kolom**

*Umumnya, jika kita hanya mengambil kolom dari satu tabel, prefix ini jarang digunakan karena sudah jelas dari tabel mana kolom itu berasal.*

*Tetapi ketika kita mengambil data dari dua tabel, misalnya dengan menggabungkan 2 tabel menggunakan JOIN, dan terdapat 2 kolom dengan nama yang sama, maka penggunaan prefix menjadi penting untuk menghindari error karena **ambiguitas**.*

- *Contoh untuk mengambil kolom **kode_produk** data dari tabel **ms_produk** dengan penulisan **prefix** nama tabel adalah sebagai berikut.*

In [ ]:
SELECT ms_produk.kode_produk FROM ms_produk;

**Menggunakan Alias pada Kolom**

*Selain prefix, aku dapat mengubah identitas nama kolom yang diambil dengan SELECT dengan menggunakan keyword **AS**. Ini dinamakan alias. Perubahan nama tabel bersifat temporary, artinya hanya berubah ketika mengambil/meng-query data, sedangkan nama kolom di tabel dalam database tidak akan berubah.*

- *Coba ubah perintah SELECT di atas untuk mengubah nama kolom dengan details berikut:*

1. *no_urut menjadi nomor.*
2. *nama_produk menjadi nama.*

In [ ]:
SELECT no_urut AS nomor, nama_produk AS nama FROM ms_produk;

**Menghilangkan Keyword 'AS'**

Keyword AS yang digunakan sebagai penanda alias pada kolom dapat dihilangkan dengan syntax:

In [ ]:
SELECT no_urut nomor, nama_produk nama FROM ms_produk;

**Menggabungkan Prefix dan Alias**

*Prefix dan alias juga dapat digunakan secara bersamaan.*

- *Tampilkan kolom harga dari tabel ms_produk dengan nama alias harga_jual lengkap dengan prefix.*

In [ ]:
SELECT ms_produk.harga AS harga_jual FROM ms_produk;

**Menggunakan Alias pada Tabel**

*Selain kolom, nama alias juga bisa digunakan untuk tabel dengan menggunakan keyword AS setelah nama tabel. Dan, keyword ini juga bisa digunakan atau tidak. **Umumnya penggunaan alias pada tabel jika nama tabel tersebut cukup panjang dan muncul atau dirujuk beberapa kali dalam query**. Sehingga dengan menggunakan alias pada tabel, dapat menghemat waktu dalam menuliskan query, khususnya untuk query yang cukup rumit, panjang dan melibatkan banyak tabel.*

- *Contoh : Ganti nama tabel ms_produk menjadi t2 dan tampilkan seluruh isinya tanpa menggunakan keyword AS.*

In [ ]:
SELECT * FROM ms_produk t2;

**Prefix dengan Alias Tabel**

*“Nja, kalau kita menggunakan alias tabel, maka nama prefix yang digunakan untuk kolom adalah alias tabel dan bukan nama original tabel, seperti yang ditunjukkan berikut ini. Gimana hasilnya?”*

*SELECT nama_tabel.nama_kolom FROM nama_tabel AS tbl;*

*Penggunaan nama original tabel sebagai prefix akan menimbulkan **error** saat query dijalankan karena dengan penggunaan alias, nama tabel secara temporary sudah di-gantikan oleh alias,*

- *Contoh Prefix dengan alias tabel yang benar :*

In [ ]:
SELECT t2.nama_produk, t2.harga FROM ms_produk t2;

**Kesimpulan**

*Aku kembali mengambil catatanku dan menuliskan apa yang telah aku pelajari:*

1. *Perintah SELECT dapat ditulis dengan variasi identitas kolom dan tabel berupa prefix dan alias.*
    - *Penulisan lengkap untuk nama kolom adalah prefix berupa nama  *    
    - *tabel disertai tanda titik sebelum nama kolom itu sendiri.*
    - *Alias adalah nama lain yang diberikan untuk kolom maupun tabel.*
    - *Alias dapat digunakan dengan keyword AS atau tanpa keyword AS setelah nama kolom dan tabel.*
    - *Prefix nama tabel bisa menggunakan alias.*

*Pemahaman mengenai prefix dan alias akan mendorong kemampuan identifikasi tabel maupun kolom yang terlibat untuk perintah SELECT yang lebih kompleks.*

**End Of Module**