**START**

**Module : Mini Project**

**Pendahuluan**

*“Oke, selamat Aksara! Materi SQL untuk hari ini sudah selesai dan saya lihat kamu bisa mengikutinya dengan baik,” puji Senja.*

*“Ini juga berkat penjelasan dan bimbinganmu, Nja.” Dalam hati aku kembali menobatkan Senja sebagai mentor terbaik!*

*“Agar kemampuan di SQL lebih teruji lagi, bagaimana kalau kamu membantu saya menangani proyek baru dari cabang A ini?”*

**Proyek dari Cabang A**

*“Jadi, apakah kamu bisa menyiapkan data transaksi penjualan dengan total revenue >= IDR 100.000? *

*Format datanya yang akan kamu tampilkan adalah: kode_pelanggan, nama_produk, qty, harga, dan total, serta diurutkan mulai dari total revenue terbesar,” pinta Senja padaku.*

*Kalau kasusnya seperti ini, berarti aku perlu meng-query data tersebut dari tabel tr_penjualan yang terdapat di database perusahaan.*

*Aku dapat melakukan :*

1. *perkalian antara kolom qty dan harga untuk memperoleh total revenue setiap kode pelanggan yang dinyatakan ke dalam kolom total, dan*
2. *menggunakan “ORDER BY total DESC” pada akhir query untuk mengurutkan data.*

In [ ]:
SELECT kode_pelanggan, nama_produk, qty, harga, qty*harga AS total 
FROM tr_penjualan 
WHERE qty*harga >= 100000
ORDER BY total DESC;

**Hasil Belajarku**

*Wah seru sekali bagian pertama dari Module SQL ini! Dari materi yang telah aku pelajari dalam 'Fundemental SQL using SELECT Statement', aku telah memahami dan mampu mempraktekkan:*

1. **Konsep SQL**, yaitu:
    - Konsep Sistem Database Relasional atau Relational Database Management System (RDBMS).
    - Struktur penyimpanan RDBMS yang terdiri dari database, tabel, kolom (column) dan baris (row).
    - *Pengenalan perintah SELECT untuk mengambil data dari tabel.*

2. **Teknik SELECT**, dimana aku dapat:
    - Mengambil kolom tertentu.
    - Mengambil jumlah data tertentu.
    - Menggunakan prefix dan alias.
    - Menggunakan filter.

*Dengan kemampuan ini, aku telah siap untuk mengambil dan mengolah data secara sederhana. Keterampilan ini sendiri adalah 60% aktivitas awal yang akan dilakukan seorang analis.*