(EDA) Exploratory Data Analysis
1. Library yang dipakai untuk EDA
2. EDA dengan pandas - Pre-analisis
3. EDA dengan pandas - Grafik
4. EDA dengan pandas - Fungsi

LIBRARY UNTUK EDA
1. NumPy : untuk komputasi numerik & menyimpan data dalam bentuk arrays (1D ataupun 2D).
2. Pandas : Pandas menyimpan data dalam dictionary-based Numpy arrays, Series (1-Dimensi ), Data Frame (2-Dimensi). Kegunaan utama Pandas yaitu load, prepare, manipulate, modelling, dan analysis data.
3. Scipy : melakukan integrasi, diferensiasi, dan optimasi numerik dengan array NumPy.
4. Matplotlib : membuat visualisasi data dengan 2-Dimensional. Line chart, Bar chart, Pie chart, Box plot chart, Violin chart, Errorbar chart, Scatter chart

EDA dengan Pandas - Pre-analisis
1. Membaca file
2. Inspeksi data frame (pre-analisis) : melihat struktur kolom & baris data frame, melihat priview data dari data frame, membuat summary data sederhana
3. Statistik deskriptif dari data frame

In [27]:
# Membaca file
import pandas as pd

# Membaca file CSV
order_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/order.csv')

# Membaca file Excel
# [nama_variabel] = pd.read_excel('nama_file.xlsx')

In [28]:
# Inspeksi Struktur Data Frame
''' 
Melihat struktur kolom & baris data frame
1. informasi mengenai berapa size dari dataframe
2. jumlah kolom & baris data frame - .shape
3. melihat preview data frame - .head() & tail()
head dan tail dikosongkan maka secara default akan ditampilkan sebanyak 5 (lima) baris saja
'''
import pandas as pd
#membuat data baru
data = [{'Age':20, 'Name':'Lindsay', 'Score':82},
{'Age':18, 'Name':'Robert', 'Score':75},
{'Age':23, 'Name':'Ricko', 'Score':78},
{'Age':21, 'Name':'Nicky', 'Score':64},
{'Age':25, 'Name':'Daniella', 'Score':98}]

order_df = pd.DataFrame(data)
print(order_df.shape)

print(order_df.head())
print(order_df.tail())

(5, 3)
   Age      Name  Score
0   20   Lindsay     82
1   18    Robert     75
2   23     Ricko     78
3   21     Nicky     64
4   25  Daniella     98
   Age      Name  Score
0   20   Lindsay     82
1   18    Robert     75
2   23     Ricko     78
3   21     Nicky     64
4   25  Daniella     98

In [29]:
# Inspeksi Struktur data frame
# Statistik Deskriptif
# Fungsi .describe untuk membuat summary
import pandas as pd
#membuat data baru
data = [{'Age':20, 'Name':'Lindsay', 'Score':82},
{'Age':18, 'Name':'Robert', 'Score':75},
{'Age':23, 'Name':'Ricko', 'Score':78},
{'Age':21, 'Name':'Nicky', 'Score':64},
{'Age':25, 'Name':'Daniella', 'Score':98}]

order_df = pd.DataFrame(data)

# Fungsi describe hanya menghitung kolom numerik saja
print(order_df.describe())
# Fungsi describe menghitung kolom string
print(order_df.describe(include=["object"]))
# Fungsi describe menghitung semua jenis kolom
print(order_df.describe(include="all"))

             Age     Score
count   5.000000   5.00000
mean   21.400000  79.40000
std     2.701851  12.36123
min    18.000000  64.00000
25%    20.000000  75.00000
50%    21.000000  78.00000
75%    23.000000  82.00000
max    25.000000  98.00000
           Name
count         5
unique        5
top     Lindsay
freq          1
              Age     Name     Score
count    5.000000        5   5.00000
unique        NaN        5       NaN
top           NaN  Lindsay       NaN
freq          NaN        1       NaN
mean    21.400000      NaN  79.40000
std      2.701851      NaN  12.36123
min     18.000000      NaN  64.00000
25%     20.000000      NaN  75.00000
50%     21.000000      NaN  78.00000
75%     23.000000      NaN  82.00000
max     25.000000      NaN  98.00000

In [30]:
# Inspeksi Struktur data frame
# Statistik Deskriptif
# Mencari : mean, median dan mode
import pandas as pd
#membuat data baru
data = [{'Age':20, 'Name':'Lindsay', 'Score':82},
{'Age':18, 'Name':'Robert', 'Score':75},
{'Age':23, 'Name':'Ricko', 'Score':78},
{'Age':21, 'Name':'Nicky', 'Score':64},
{'Age':25, 'Name':'Daniella', 'Score':98}]

order_df = pd.DataFrame(data)

print(order_df.loc[:, 'Age'].mean())
print(order_df.loc[:, 'Score'].median())
print(order_df.loc[:, 'Name'].mode())

21.4
78.0
0    Daniella
1     Lindsay
2       Nicky
3       Ricko
4      Robert
Name: Name, dtype: object

EDA dengan pandas - Grafik
1. Mengenal dan membuat distibusi data dengan histogram
2. Histogram adalah grafik yang berisi ringkasan dari sebaran (variasi) suatu data
3. Tidak ada jarak antar bar dari grafik karena titik data kelas bisa muncul dimana saja di daerah cakupan grafik
4. Ketinggian bar sesuai dengan frekuensi atau frekuensi relative jumlah data di kelas

Sintaks Umum Histogram:
1. nama_dataframe[['nama_kolom']].hist(bins=jumlah_bin,
by=nama_kolom, alpha=nilai_alpha, figsize=tuple_ukuran_gambar)
2. bins = jumlah dari batang/bar
3. by = nama kolom di Dataframe untuk di group by
4. alpha = nilai_alpha untuk menentukan opacity dari plot di histogram. (value berupa range 0.0 - 1.0, dimana semakin kecil akan semakin kecil opacity nya)
5. ukuran gambar plot histogram

EDA dengan pandas - Fungsi
1. Standar deviasi dan varians
2. Menemukan outliers dengan Pandas : IQR
3. Rename Kolom dataframe
4. Groupby dengan Pandas
5. Sorting dengan Pandas

In [31]:
'''
Standar deviasi & Varians
merupakan ukuran dispersi yang sering dipakai
karena : standar deviasi mempunyai satuan ukuran yang sama 
dengan satuan ukuran data asalnya. Sedangkan varians memiliki 
satuan kuadrat dari data asalnya (misalnya cm^2).
'''
import pandas as pd
order_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/order.csv')
# Standar deviasi kolom product_weight_gram
print(order_df.loc[:, 'product_weight_gram'].std())
# Varians kolom product_weight_gram
print(order_df.loc[:, 'product_weight_gram'].var())

3929.896875372737
15444089.451064402

**Menemukan OUTLIERS dengan Pandas**

1. Menggunakan IQR (Interquartile range)
2. Menghitung Score IQR
3. Menentukan Outliers : False = nilai valid, True = Outliers

In [32]:
# Menemukan outliers dengan Pandas
# Menggunakan metric IQR  (interquartile range)
import pandas as pd
#membuat data baru
data = [{'Age':20, 'Name':'Lindsay', 'Score':82},
{'Age':18, 'Name':'Robert', 'Score':75},
{'Age':23, 'Name':'Ricko', 'Score':78},
{'Age':21, 'Name':'Nicky', 'Score':64},
{'Age':25, 'Name':'Daniella', 'Score':98}]

nilai_order_df = pd.DataFrame(data)

# Menghitung score IQR
Q1 = nilai_order_df[['Score']].quantile(0.25)
Q3 = nilai_order_df[['Score']].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

# Menentukan OUTLIERS
#  False yang berarti nilai-nilai ini valid 
#  True menunjukkan adanya outliers
print((nilai_order_df < (Q1 - 1.5*IQR)) | (nilai_order_df > (Q3 + 1.5*IQR)))

Score    7.0
dtype: float64
     Age   Name  Score
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False   True
4  False  False   True

C:\Users\sendy\AppData\Local\Temp\ipykernel_14728\847592958.py:22: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  print((nilai_order_df < (Q1 - 1.5*IQR)) | (nilai_order_df > (Q3 + 1.5*IQR)))
C:\Users\sendy\AppData\Local\Temp\ipykernel_14728\847592958.py:22: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  print((nilai_order_df < (Q1 - 1.5*IQR)) | (nilai_order_df > (Q3 + 1.5*IQR)))

Rename kolom Dataframe 
1. Menggunakan nama kolom
2. Menggunakan indeks kolom
3. Menampilkan semua nama kolom

In [33]:
# Rename Kolom
import pandas as pd
#membuat data baru
data = [{'Age':20, 'Name':'Lindsay', 'Score':82},
{'Age':18, 'Name':'Robert', 'Score':75},
{'Age':23, 'Name':'Ricko', 'Score':78},
{'Age':21, 'Name':'Nicky', 'Score':64},
{'Age':25, 'Name':'Daniella', 'Score':98}]

nilai_order_df = pd.DataFrame(data)

# Menggunakan nama kolom 
nilai_order_df.rename(columns={'Age':'Umur'}, inplace=True)
# Menggunakan indeks kolom
nilai_order_df.columns.values[1] = 'Nama'
# Tampilkan semua nama kolom
print(nilai_order_df.columns)

Index(['Umur', 'Nama', 'Score'], dtype='object')

GroupBy menggunakan Pandas
1. Kegunaan .groupby adalah mencari summary dari data frame dengan menggunakan aggregate dari kolom tertentu

In [34]:
# GroupBy menggunakan Pandas
import pandas as pd
#membuat data baru
data = [{'Name':'Alisa', 'Exam':'Semester 1', 'Subject':'Mathematics', 'Score':62},
{'Name':'Bobby', 'Exam':'Semester 1', 'Subject':'Mathematics', 'Score':47},
{'Name':'Cathrine', 'Exam':'Semester 1', 'Subject':'Mathematics', 'Score':55},
{'Name':'Alisa', 'Exam':'Semester 1', 'Subject':'Science', 'Score':74},
{'Name':'Bobby', 'Exam':'Semester 1', 'Subject':'Science', 'Score':31},
{'Name':'Cathrine', 'Exam':'Semester 1', 'Subject':'Science', 'Score':77},
{'Name':'Alisa', 'Exam':'Semester 2', 'Subject':'Mathematics', 'Score':85},
{'Name':'Bobby', 'Exam':'Semester 2', 'Subject':'Mathematics', 'Score':63},
{'Name':'Cathrine', 'Exam':'Semester 2', 'Subject':'Mathematics', 'Score':42},
{'Name':'Alisa', 'Exam':'Semester 2', 'Subject':'Science', 'Score':67},
{'Name':'Bobby', 'Exam':'Semester 2', 'Subject':'Science', 'Score':89},
{'Name':'Cathrine', 'Exam':'Semester 2', 'Subject':'Science', 'Score':81}
]

nilai_order_df = pd.DataFrame(data)
'''
Penjelasan: komputasi dibawah menggunakan kolom Name sebagai aggregate, 
menggunakan fungsi mean untuk menghitung mean dari kolom Score pada tiap-tiap aggregate tersebut.
'''
rata_rata = nilai_order_df['Score'].groupby([nilai_order_df['Name']]).mean()
print(rata_rata)

'''
Penjelasan: komputasi diatas menggunakan kolom Name dan Exam sebagai aggregate 
dan kemudian menggunakan menghitung sum dari kolom Score pada tiap-tiap aggregate tersebut.
'''

jumlah = nilai_order_df['Score'].groupby([nilai_order_df['Name'], nilai_order_df['Exam']]).sum()
print(jumlah)

Name
Alisa       72.00
Bobby       57.50
Cathrine    63.75
Name: Score, dtype: float64
Name      Exam
Alisa     Semester 1    136
          Semester 2    152
Bobby     Semester 1     78
          Semester 2    152
Cathrine  Semester 1    132
          Semester 2    123
Name: Score, dtype: int64

Sorting dengan Pandas
1. Sorting adalah sebuah metode mengurutkan data berdasarkan syarat kolom tertentu
2. biasanya digunakan untuk melihat nilai maksimum dan minimum dari dataset

In [35]:
# Sorting dengan Pandas
# Sorting berdasarkan 1 kolom
import pandas as pd
#membuat data baru
data = [{'Age':20, 'Name':'Lindsay', 'Score':82},
{'Age':18, 'Name':'Robert', 'Score':75},
{'Age':23, 'Name':'Ricko', 'Score':78},
{'Age':21, 'Name':'Nicky', 'Score':64},
{'Age':25, 'Name':'Daniella', 'Score':98}]

nilai_order_df = pd.DataFrame(data)

# Mengurutkan secara Ascending
# Dimulai dari nilai terkecil
ascending = nilai_order_df.sort_values(by='Age')
print(ascending)

print()
# Mengurutkan secara Descending
# Dimulai dari nilai terbesar
descending = nilai_order_df.sort_values(by='Age', ascending=False)
print(descending)

   Age      Name  Score
1   18    Robert     75
0   20   Lindsay     82
3   21     Nicky     64
2   23     Ricko     78
4   25  Daniella     98

   Age      Name  Score
4   25  Daniella     98
2   23     Ricko     78
3   21     Nicky     64
0   20   Lindsay     82
1   18    Robert     75

In [36]:
# Sorting dengan Pandas
# Sorting berdasarkan 2 kolom
import pandas as pd
#membuat data baru
data = [{'Age':20, 'Name':'Lindsay', 'Score':82},
{'Age':18, 'Name':'Robert', 'Score':75},
{'Age':23, 'Name':'Ricko', 'Score':78},
{'Age':21, 'Name':'Nicky', 'Score':64},
{'Age':25, 'Name':'Daniella', 'Score':98}]

nilai_order_df = pd.DataFrame(data)

# kolom Age - ascending
# kolom score - descending
sorting = nilai_order_df.sort_values(by=['Age','Score'], ascending=[True, False])
print(sorting)

   Age      Name  Score
1   18    Robert     75
0   20   Lindsay     82
3   21     Nicky     64
2   23     Ricko     78
4   25  Daniella     98