**About This Course:**

*Memperkenalkan dasar bahasa pemograman Python, penjelasan mengenai syntax dan fungsi built-in yang perlu dikuasai untuk **memanipulasi list, tuple, set, dictionary dan string** pada Python. Serta, teknik membuat suatu **fungsi** yang didefinisikan sendiri tujuan penggunaannya dan dapat diakses untuk kebutuhan yang diinginkan nantinya.*

**Module Content :**

1. *Collection Manipulation dengan Python*
2. *String Manipulation dengan Pyhton*
3. *Functions*
4. *Memanipulasi berkas teks dan library matematika pada Python*
5. *Mini Quiz*

**START**

**Module : Collection Manipulation dengan Pyhon**

**Apa itu Collection Manipulation?**

***Collections manipulation** adalah salah satu teknik yang penting untuk dikuasai setiap programmer. Melalui penguasaan materi collections  manipulation, aku dapat mengolah berbagai tipe data collections dalam Python yang meliputi:*

- *list*
- *tuple*
- *set*
- *Dictionary*

**Mengakses List dan Tuple – Part 1**

*Seperti yang telah aku pelajari pada modul Python for Data Professional Beginner - Part 1: Bab “Sequence Type”, aku dapat mengakses elemen pada suatu list ataupun tuple dengan menggunakan indeks atau semacam nomor urut dari list atau tuple tersebut. Indeks pada suatu tipe data list atau tuple dimulai dari angka 0.*

In [1]:
bulan_pembelian = ('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

print(bulan_pembelian[0])
print(bulan_pembelian[5])
print(bulan_pembelian[-1])
print(bulan_pembelian[-2])

Januari
Juni
Desember
November

**Mengakses List dan Tuple – Part 2**

*Cara collections manipulation pertama yang akan aku pelajari adalah **memotong (slicing) list/tuple** dengan menggunakan rentangan nilai indeks (range of index).*

1. ***Tugas 1** : bulan_pembelian **Mei, Juni, Juli, Agustus,** aku dapat menggunakan syntax di bawah untuk mengambil index 4 - 7.*
2. ***Tugas 2** : bulan_pembelian **Januari, Februari, Maret, April, Mei** aku dapat menggunakan syntax di bawah untuk mengambil index 0 - 4.*
3. ***Tugas 3** : Untuk menampilkan output **September, Oktober, November, Desember.** Aku dapat menggunakan syntax di bawah untuk mengambil index 8 - elemen terakhir.*
4. ***Tugas 4** : Aku juga dapat memotong suatu list/tuple dengan menggunakan indeks negatif. Sebagai contoh untuk mendapatkan output **September, Oktober, November***

In [2]:
bulan_pembelian = ('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

pertengahan_tahun = bulan_pembelian[4:8]
print(pertengahan_tahun)
awal_tahun = bulan_pembelian[:5]
print(awal_tahun)
akhir_tahun = bulan_pembelian[8:]
print(akhir_tahun)
print(bulan_pembelian[-4:-1])

('Mei', 'Juni', 'Juli', 'Agustus')
('Januari', 'Februari', 'Maret', 'April', 'Mei')
('September', 'Oktober', 'November', 'Desember')
('September', 'Oktober', 'November')

**Penggabungan Dua atau Lebih List atau Tuple**

*Selain dapat melakukan pemotongan terhadap tipe data list/tuple, aku juga dapat menggabungkan isi dari suatu list (ataupun tuple) dengan list lainnya (atau dengan tuple lainnya) dengan menggunakan operator penambahan (+).*

In [3]:
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_minuman = ['Es Teh', 'Es Jeruk', 'Es Campur']
list_menu = list_makanan + list_minuman
print(list_menu)

['Gado-gado', 'Ayam Goreng', 'Rendang', 'Es Teh', 'Es Jeruk', 'Es Campur']

**List Manipulation – Part 1**

*Untuk memanipulasi tipe data list, aku dapat menggunakan sekumpulan fitur yang telah tersedia dalam bahasa pemrograman Python. Merujuk pada tabel di bawah, aku dapat memahami fitur-fitur untuk melakukan manipulasi data yang terdiri atas *append(), clear(), copy(), count() dan extend()*

In [8]:
import pandas as pd

data = [{'fitur' : '.append()', 'keterangan': 'Menambahkan data sebagai elemen terakhir di list'},
{'fitur' : '.clear()', 'keterangan' : 'Menghapus seluruh elemen dalam sebuah list'},
{'fitur' : '.copy()', 'keterangan' : 'Mengembalikan copy dari setiap elemen dalam list'},
{'fitur' : '.count()', 'keterangan' : 'Mengembalikan jumlah kemunculan suatu elemen pada list'},
{'fitur' : '.extend()', 'keterangan' : 'Menggabungkan dua buah list seperti penggunaan operator + untuk list'}
]

df = pd.DataFrame(data)

df.head(10)

       fitur                                         keterangan
0  .append()   Menambahkan data sebagai elemen terakhir di list
1   .clear()         Menghapus seluruh elemen dalam sebuah list
2    .copy()   Mengembalikan copy dari setiap elemen dalam list
3   .count()  Mengembalikan jumlah kemunculan suatu elemen p...
4  .extend()  Menggabungkan dua buah list seperti penggunaan...

In [9]:
# Fitur .append()
print(">>> Fitur .append()")
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_makanan.append('Ketoprak')
print(list_makanan)
# Fitur .clear()
print(">>> Fitur .clear()")
list_makanan = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_makanan.clear()
print(list_makanan)
# Fitur .copy()
print(">>> Fitur .copy()")
list_makanan1 = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_makanan2 = list_makanan1.copy()
list_makanan3 = list_makanan1
list_makanan2.append('Opor')
list_makanan3.append('Ketoprak')
print(list_makanan1)
print(list_makanan2)
# Fitur .count()
print(">>> Fitur .count()")
list_score = ['Budi', 'Sud', 'Budi', 'Budi', 'Budi', 'Sud', 'Sud']
score_budi = list_score.count('Budi')
score_sud = list_score.count('Sud')
print(score_budi) # akan menampilkan output 4
print(score_sud) # akan menampilkan output 3
# Fitur .extend()
print(">>> Fitur .extend()")
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_minuman = ['Es Teh', 'Es Jeruk', 'Es Campur']
list_menu.extend(list_minuman)
print(list_menu)

>>> Fitur .append()
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
>>> Fitur .clear()
[]
>>> Fitur .copy()
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Opor']
>>> Fitur .count()
4
3
>>> Fitur .extend()
['Gado-gado', 'Ayam Goreng', 'Rendang', 'Es Teh', 'Es Jeruk', 'Es Campur']

**List Manipulation – Part 2**

*Selanjutnya aku akan mempelajari fitur **index(), insert(), pop(), remove(), reverse(), dan sort()** untuk melakukan manipulasi.*

In [11]:
import pandas as pd

data = [{'fitur' : '.index()', 'keterangan': 'Mengembalikan indeks dari elemen pertama yang ditemukan dari awal sebuah list'},
{'fitur' : '.insert()', 'keterangan' : 'Menyisipkan elemen pada indeks yang dispesifikasikan'},
{'fitur' : '.pop()', 'keterangan' : 'Menghilangkan elemen pada posisi tertentu'},
{'fitur' : '.remove()', 'keterangan' : 'Menghilangkan elemen dengan nilai tertentu'},
{'fitur' : '.reverse()', 'keterangan' : 'Membalik urutan elemen dari sebuah list'},
{'fitur' : '.sort()', 'keterangan' : 'Mengurutkan elemen pada sebuah list, secara default dengan urutan dari kecil ke besar (ascending).'}
]

df = pd.DataFrame(data)

df.head(10)

        fitur                                         keterangan
0    .index()  Mengembalikan indeks dari elemen pertama yang ...
1   .insert()  Menyisipkan elemen pada indeks yang dispesifik...
2      .pop()          Menghilangkan elemen pada posisi tertentu
3   .remove()         Menghilangkan elemen dengan nilai tertentu
4  .reverse()            Membalik urutan elemen dari sebuah list
5     .sort()  Mengurutkan elemen pada sebuah list, secara de...

In [12]:
# Fitur .index()
print(">>> Fitur .index()")
list_score = ['Budi','Sud','Budi','Budi','Budi','Sud','Sud']
score_pertama_sud = list_score.index('Sud') + 1
print(score_pertama_sud) # akan menampilkan output 2
# Fitur .insert()
print(">>> Fitur .insert()")
list_score = ['Budi','Sud','Budi','Budi','Sud']
list_score.insert(3, 'Sud')
print(list_score)
# Fitur .pop()
print(">>> Fitur .pop()")
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang']
list_menu.pop(1)
print(list_menu)
# Fitur .remove()
print(">>> Fitur .remove()")
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.remove('Rendang')
print(list_menu)
# Fitur .reverse()
print(">>> Fitur .reverse()")
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.reverse()
print(list_menu)
# Fitur .sort()
print(">>> Fitur .sort()")
list_menu = ['Gado-gado', 'Ayam Goreng', 'Rendang', 'Ketoprak']
list_menu.sort() # Default: Ascending
print(list_menu) 
list_menu.sort(reverse=True)# Descending
print(list_menu)

>>> Fitur .index()
2
>>> Fitur .insert()
['Budi', 'Sud', 'Budi', 'Sud', 'Budi', 'Sud']
>>> Fitur .pop()
['Gado-gado', 'Rendang']
>>> Fitur .remove()
['Gado-gado', 'Ayam Goreng', 'Ketoprak']
>>> Fitur .reverse()
['Ketoprak', 'Rendang', 'Ayam Goreng', 'Gado-gado']
>>> Fitur .sort()
['Ayam Goreng', 'Gado-gado', 'Ketoprak', 'Rendang']
['Rendang', 'Ketoprak', 'Gado-gado', 'Ayam Goreng']

**Tuple Manipulation**

*Aku juga mempelajari fitur yang dapat digunakan untuk melakukan manipulasi data dengan tipe data tuple.*

In [13]:
import pandas as pd

data = [{'fitur' : '.count()', 'keterangan': 'Mengembalikan jumlah kemunculan suatu elemen pada tuple'},
{'fitur' : '.index()', 'keterangan': 'Mengembalikan indeks dari elemen pertama yang ditemukan dari awal sebuah tuple'},
]

df = pd.DataFrame(data)

df.head(10)

      fitur                                         keterangan
0  .count()  Mengembalikan jumlah kemunculan suatu elemen p...
1  .index()  Mengembalikan indeks dari elemen pertama yang ...

In [14]:
# Fitur .count()
print(">>> Fitur .count()")
tuple_score = ('Budi', 'Sud', 'Budi', 'Budi', 'Budi', 'Sud', 'Sud')
score_budi = tuple_score.count('Budi')
score_sud = tuple_score.count('Sud')
print(score_budi) # akan menampilkan output 4
print(score_sud) # akan menampilkan output 3
# Fitur .index()
print(">>> Fitur .index()")
tuple_score = ('Budi','Sud','Budi','Budi','Budi','Sud','Sud')
score_pertama_sud = tuple_score.index('Sud')+1
print(score_pertama_sud) # akan menampilkan output 2

>>> Fitur .count()
4
3
>>> Fitur .index()
2

**Set Manipulation – Part 1**

*Sedikit berbeda dengan tipe data list dan tuple, pada tipe data set terdapat cukup banyak fitur yang disediakan oleh bahasa Python.*

In [15]:
import pandas as pd

data = [{'fitur' : '.add()', 'keterangan': 'Menambahkan data ke dalam set. Penting untuk kita ingat bahwa pada tipe data set tidak mengizinkan adanya duplikasi elemen di dalamnya.'},
{'fitur' : '.clear()', 'keterangan': 'Menghapus seluruh elemen dalam sebuah set'},
{'fitur' : '.copy()', 'keterangan': 'Mengembalikan copy dari setiap elemen dalam set'},
{'fitur' : '.update()', 'keterangan': 'Menambahkan elemen dari suatu set dengan set lainnya.'},
{'fitur' : '.pop()', 'keterangan': 'Menghilangkan elemen dari sebuah set secara acak.'},
{'fitur' : '.remove()', 'keterangan': 'Menghilangkan elemen dengan nilai tertentu'},
]

df = pd.DataFrame(data)

df.head(10)

       fitur                                         keterangan
0     .add()  Menambahkan data ke dalam set. Penting untuk k...
1   .clear()          Menghapus seluruh elemen dalam sebuah set
2    .copy()    Mengembalikan copy dari setiap elemen dalam set
3  .update()  Menambahkan elemen dari suatu set dengan set l...
4     .pop()  Menghilangkan elemen dari sebuah set secara acak.
5  .remove()         Menghilangkan elemen dengan nilai tertentu

In [16]:
# Fitur .add()
print(">>> Fitur .add()")
set_buah = {'Jeruk','Apel','Anggur'}
set_buah.add('Melon')
print(set_buah)
# Fitur .clear()
print(">>> Fitur .clear()")
set_buah = {'Jeruk','Apel','Anggur'}
set_buah.clear()
print(set_buah)
# Fitur .copy()
print(">>> Fitur .copy()")
set_buah1 = {'Jeruk','Apel','Anggur'}
set_buah2 = set_buah1
set_buah3 = set_buah1.copy()
set_buah2.add('Melon')
set_buah3.add('Kiwi')
print(set_buah1)
print(set_buah2)
# Fitur .update()
print(">>> Fitur .update()")
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Apel','Kiwi','Melon'}
parcel1.update(parcel2)
print(parcel1)
# Fitur .pop()
print(">>> Fitur .pop()")
parcel = {'Anggur','Apel','Jeruk'}
buah = parcel.pop()
print(buah)
print(parcel)
# Fitur .remove()
print(">>> Fitur .remove()")
parcel = {'Anggur','Apel','Jeruk'}
parcel.remove('Apel')
print(parcel)

>>> Fitur .add()
{'Anggur', 'Melon', 'Apel', 'Jeruk'}
>>> Fitur .clear()
set()
>>> Fitur .copy()
{'Apel', 'Melon', 'Anggur', 'Jeruk'}
{'Apel', 'Melon', 'Anggur', 'Jeruk'}
>>> Fitur .update()
{'Kiwi', 'Anggur', 'Jeruk', 'Melon', 'Apel'}
>>> Fitur .pop()
Apel
{'Anggur', 'Jeruk'}
>>> Fitur .remove()
{'Anggur', 'Jeruk'}

**Set Manipulation – Part 2**

*Sedikit berbeda dengan tipe data list dan tuple, pada tipe data set terdapat cukup banyak fitur manipulasi yang bisa aku gunakan.*

In [17]:
import pandas as pd

data = [{'fitur' : '.union()', 'keterangan': 'Mengembalikan hasil penggabungan (union) dari dua buah set.'},
{'fitur' : '.isdisjoint()', 'keterangan': 'Mengembalikan nilai kebenaran apakah suatu set disjoint (saling lepas/tidak mengandung elemen yang sama) dengan set lainnya.'},
{'fitur' : '.issubset()', 'keterangan': 'Mengembalikan nilai kebenaran apakah sebuah set merupakan subset dari set lainnya. Sebuah set A merupakan subset dari set B jika seluruh elemen dari set A merupakan bagian dari set B.'},
{'fitur' : '.issuperset()', 'keterangan': 'Mengembalikan nilai kebenaran apakah sebuah set merupakan superset dari set lainnya. Sebuah set A merupakan superset dari set B jika seluruh elemen dari set B terkandung dalam set A.'},
{'fitur' : '.intersection()', 'keterangan': 'Mengembalikan sebuah set yang merupakan intersection dari dua set lainnya'},
{'fitur' : '.difference()', 'keterangan': 'Mengembalikan sebuah set yang berisikan difference dari dua set lainnya. Difference dari sebuah set A berdasarkan set B adalah setiap elemen yang terdapat di set A tetapi tidak terdapat di set B.'},
{'fitur' : '.symmetric_difference()', 'keterangan': 'Mengembalikan sebuah set yang berisikan symmetric difference dari dua set lainnya. Symmetric difference dari sebuah set A dan B adalah setiap elemen dari set A yang tidak terdapat di set B digabungkan dengan (union) setiap elemen dari set B yang tidak terdapat di set A.'},

]

df = pd.DataFrame(data)

df.head(10)

                     fitur                                         keterangan
0                 .union()  Mengembalikan hasil penggabungan (union) dari ...
1            .isdisjoint()  Mengembalikan nilai kebenaran apakah suatu set...
2              .issubset()  Mengembalikan nilai kebenaran apakah sebuah se...
3            .issuperset()  Mengembalikan nilai kebenaran apakah sebuah se...
4          .intersection()  Mengembalikan sebuah set yang merupakan inters...
5            .difference()  Mengembalikan sebuah set yang berisikan differ...
6  .symmetric_difference()  Mengembalikan sebuah set yang berisikan symmet...

In [18]:
# Fitur .union()
print(">>> Fitur .union()")
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Apel','Kiwi','Melon'}
parcel3 = parcel1.union(parcel2)
print(parcel1)
print(parcel3)
# Fitur .isdisjoint()
print(">>> Fitur .isdisjoint()")
parcel1 = {'Anggur','Apel','Jeruk'}
parcel2 = {'Kiwi','Melon','Pisang'}
parcel3 = {'Apel','Srikaya','Semangka'}
parcel1_parcel2_disjoint = parcel1.isdisjoint(parcel2)
print(parcel1_parcel2_disjoint)
parcel1_parcel3_disjoint = parcel1.isdisjoint(parcel3)
print(parcel1_parcel3_disjoint)
# Fitur .issubset()
print(">>> Fitur .issubset()")
parcel_A = {'Anggur', 'Apel'}
parcel_B = {'Durian','Semangka','Apel'}
parcel_C = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_A_dalam_C = parcel_A.issubset(parcel_C)
parcel_B_dalam_C = parcel_B.issubset(parcel_C)
print(parcel_A_dalam_C)
print(parcel_B_dalam_C)
# Fitur .issuperset()
print(">>> Fitur .issuperset()")
parcel_C_mengandung_A = parcel_C.issuperset(parcel_A)
parcel_C_mengandung_B = parcel_C.issuperset(parcel_B)
print(parcel_C_mengandung_A)
print(parcel_C_mengandung_B)
# Fitur .intersection()
print(">>> Fitur .intersection()")
parcel_A = {'Anggur', 'Kiwi', 'Apel', 'Jeruk', 'Melon'}
parcel_B = {'Apel', 'Jeruk', 'Semangka', 'Durian', 'Tomat'}
parcel_C = parcel_A.intersection(parcel_B)
print(parcel_C)
# Fitur .difference()
print(">>> Fitur .difference()")
parcel_C = parcel_A.difference(parcel_B)
print(parcel_C)
# Fitur .symmetric_difference()
print(">>> Fitur .symmetric_difference()")
parcel_A = {'Anggur', 'Apel', 'Jeruk', 'Melon'}
parcel_B = {'Apel','Jeruk','Semangka','Leci'}
parcel_C = parcel_A.symmetric_difference(parcel_B)
print(parcel_C)

>>> Fitur .union()
{'Apel', 'Anggur', 'Jeruk'}
{'Kiwi', 'Anggur', 'Jeruk', 'Melon', 'Apel'}
>>> Fitur .isdisjoint()
True
False
>>> Fitur .issubset()
True
False
>>> Fitur .issuperset()
True
False
>>> Fitur .intersection()
{'Apel', 'Jeruk'}
>>> Fitur .difference()
{'Kiwi', 'Melon', 'Anggur'}
>>> Fitur .symmetric_difference()
{'Leci', 'Anggur', 'Melon', 'Semangka'}

**Dictionary Manipulation**

*Terakhir, untuk memanipulasi tipe data dictionary.*

In [19]:
import pandas as pd

data = [{'fitur' : '.clear()', 'keterangan': 'Menghapus seluruh elemen dalam sebuah dictionary'},
{'fitur' : '.copy()', 'keterangan': 'Mengembalikan copy dari setiap elemen dalam set. Serupa dengan fitur copy() pada tipe data collections lainnya, fitur copy() tidak akan mengubah nilai dari elemen asal seperti fungsi assignment.'},
{'fitur' : '.keys()', 'keterangan': 'Mengembalikan list dari seluruh kunci akses ("key") dari setiap elemen dalam sebuah dictionary.'},
{'fitur' : '.values()', 'keterangan': 'Mengembalikan list dari seluruh nilai ("value") dari setiap elemen dalam sebuah dictionary'},
{'fitur' : '.update()', 'keterangan': 'Menambahkan kunci akses ("key") dan nilai baru ("value") ke dalam sebuah dictionary.'},
]

df = pd.DataFrame(data)

df.head(10)

       fitur                                         keterangan
0   .clear()   Menghapus seluruh elemen dalam sebuah dictionary
1    .copy()  Mengembalikan copy dari setiap elemen dalam se...
2    .keys()  Mengembalikan list dari seluruh kunci akses ("...
3  .values()  Mengembalikan list dari seluruh nilai ("value"...
4  .update()  Menambahkan kunci akses ("key") dan nilai baru...

In [20]:
# Fitur .clear()
print(">>> Fitur .clear()")
info_karyawan = {'nama' : 'Aksara',
                 'nik' : '1211011',
                 'pekerjaan' : 'Data Analyst'}
info_karyawan.clear()
print(info_karyawan)
# Fitur .copy()
print(">>> Fitur .copy()")
info_karyawan1 = {'nama' : 'Aksara',
                  'nik' : '1211011',
                  'pekerjaan' : 'Data Analyst'}
info_karyawan2 = info_karyawan1.copy()
info_karyawan2['nama'] = 'Senja'
info_karyawan2['nik'] = '1211056'
print(info_karyawan1)
print(info_karyawan2)
# Fitur .keys()
print(">>> Fitur .keys()")
info_karyawan = {'nama' : 'Aksara',
                 'nik' : '1211011',
                 'pekerjaan' : 'Data Analyst'}
kunci_akses = list(info_karyawan.keys())
print(kunci_akses)
# Fitur .values()
print(">>> Fitur .values()")
value_dict = list(info_karyawan.values())
print(value_dict)
# Fitur .update()
print(">>> Fitur .update()")
info_karyawan.update({'skillset':['Python', 'R']})
print(info_karyawan)

>>> Fitur .clear()
{}
>>> Fitur .copy()
{'nama': 'Aksara', 'nik': '1211011', 'pekerjaan': 'Data Analyst'}
{'nama': 'Senja', 'nik': '1211056', 'pekerjaan': 'Data Analyst'}
>>> Fitur .keys()
['nama', 'nik', 'pekerjaan']
>>> Fitur .values()
['Aksara', '1211011', 'Data Analyst']
>>> Fitur .update()
{'nama': 'Aksara', 'nik': '1211011', 'pekerjaan': 'Data Analyst', 'skillset': ['Python', 'R']}

**Useful Tips and Tricks**

1. *Untuk menentukan berapa jumlah data yang tersimpan di setiap elemen pada tuple/list, aku dapat menggunakan fungsi buit-in **len().***
2. *Ternyata ada trik khusus yang dapat aku gunakan untuk **mengkonversi berbagai tipe data collection***

In [21]:
# Tuple
print(">>> Tuple")
tuple_menu = ('Gado-gado','Ayam Goreng','Rendang','Ketoprak')
jumlah_menu = len(tuple_menu)
print(jumlah_menu)
# List
print(">>> List")
list_menu = ['Gado-gado','Ayam Goreng','Rendang','Ketoprak']
jumlah_menu = len(list_menu)
print(jumlah_menu)
# Konversi tipe data
print(">>> Konversi tipe data")
list_buah = ['Apel', 'Apel', 'Jeruk', 'Markisa', 'Jeruk', 'Markisa', 'Apel']
set_buah = set(list_buah)
print(set_buah)
list_buah = list(set_buah)
list_buah.sort()
print(list_buah)

>>> Tuple
4
>>> List
4
>>> Konversi tipe data
{'Markisa', 'Apel', 'Jeruk'}
['Apel', 'Jeruk', 'Markisa']

**Tugas Praktek**

*“Aksara, untuk praktik kali ini, saya membebaskan kamu memilih case yang akan digunakan,” ujar Senja padaku.*

*Aku pun mulai berpikir. Selama ini aku bikin program hitung-menghitung untuk kantor dan keluarga, kok enggak bikin buat diri sendiri juga yah? Apalagi belakangan aku suka nge-boba, kayaknya memang harus dilacak deh pengeluaran dan pemasukanku minimal 9 bulan terakhir. Kalau begitu, aku pakai case pengalamanku sendiri ini saja untuk dianalisis!*

*Buat menganalisisnya, berarti aku harus merapikan struktur data yang kumiliki terlebih dulu dengan dictionary dan kuberi nama keuangan untuk merepresentasikan pengeluaran dan pemasukan. **“Pakai format juta, lalu masukkan variabel keuangan,”** ujarku sembari mengetik*

**Tugas:**

*Dari variabel keuangan, aku akan menghitung rata-rata pengeluaran dan pemasukanku selama 9 bulan terakhir. Semoga keuanganku sehat-sehat saja.*

In [23]:
# Data keuangan
keuangan = {
'pengeluaran': [2, 2.5, 2.25, 2.5, 3.2, 2.5, 3.5, 4, 3],
'pemasukan': [7.8, 7.5, 9, 7.6, 7.2, 7.5, 7, 10, 7.5]
}

# Perhitungan rata-rata pemasukan dan rata-rata pengeluaran
total_pengeluaran = 0
total_pemasukan = 0

for biaya in keuangan['pengeluaran'] :
    total_pengeluaran += biaya
for biaya in keuangan['pemasukan'] :
    total_pemasukan += biaya

rata_rata_pengeluaran = total_pengeluaran / len(keuangan['pengeluaran'])
rata_rata_pemasukan = total_pemasukan / len(keuangan['pemasukan'])

print('rata rata pengeluaran', rata_rata_pengeluaran)
print('rata rata pemasukan', rata_rata_pemasukan)

rata rata pengeluaran 2.8277777777777775
rata rata pemasukan 7.8999999999999995